/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

#footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.center-row-fixed{
  /* margin-top: 100px; */
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}
.center-row-fixed img{
  width: 140px;
  max-height: 140px;
  margin-top:20px;
}

.logo{
  width: 20px;
  max-height: 20px
}

.row-fixed{
  margin-left: 20px;
  margin-bottom: 20px;
}

.container-fixed{
  padding-bottom:25px !important;
}